.react-csv-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
}

.csv-input {
  width: 150px;
  margin-top: 10px;
}

.sample-data {
  font-size: small;
}
