.Visualization-choices {
  display: flex;
  justify-content: center;
}

.Visualization-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.Visualization-choice-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-weight: bold;
}

.Visualization-icon-img {
  margin: 20px;
}
